extends layout

block content

    .main-menu
        .menu
            if userId
                i(class="fa fa-user-circle-o" id="open-user-profile" aria-hidden="true")
            i(class="fa fa-list-ol" id="open-leaderboard" aria-hidden="true")
    #user-and-stats
        .main-menu
            .menu
                i(class="fa fa-times close" aria-hidden="true")
        .container.user-and-stats
            .profile-section
                .row
                    div.user-name.title
                .row
                    .col.col-100.user-information
                .row.chart-row.clearfix
                    p.user-note
                        i(class="fa fa-exclamation-circle" aria-hidden="true")
                        | Your wpm and accuracy compared to other players.
                    .col.col-100.user-chart
                        .col.col-50
                            .canvas-wrapper.wpm-canvas
                                .sub-title WPM
                                canvas(id="wpm-chart")
                        .col.col-50
                            .canvas-wrapper.words-canvas
                                .sub-title ACCURACY
                                canvas(id="words-chart")
                .row
                    .col.col-100.user-top-five
                        .sub-title TOP FIVE SCORES
                            i(class="fa fa-star" aria-hidden="true")
                        table#user-score
                            tr
                                th
                                th
                                th Score
                                th Date
                .row
                    a.logout(href="logout") LOGOUT
                        i(class="fa fa-user-times" aria-hidden="true")
    #leaderboard
        .main-menu
            .menu
                i(class="fa fa-times close" aria-hidden="true")
        .container.leaderboard
            .leaderboard-section
                .title LEADERBOARD
                .row
                    .col.col-100
                        .sub-title TOP ALL
                            i(class="fa fa-star" aria-hidden="true")
                        table#top-all-score
                            tr
                                th
                                th Name
                                th Score
                                th Date
                .row
                    .col.col-100
                        .sub-title TOP TODAY
                            i(class="fa fa-star-half-o" aria-hidden="true")
                        table#top-today-score
                            tr
                                th
                                th Name
                                th Score
                                th Date

    .container
        #game-area
            .upper-section
                span#time-counter
                button#refresh
                    i(class="fa fa-refresh" aria-hidden="true")
            form.clearfix
                input#typing-area(type="text" autocomplete="off" autofocus)
            .words-area
                span.word
                span.word
                span.word
                span.word
                span.word
                span.score
                span.score
                span.score

            form#score-form(method="POST" action="/score")
                input#submit-score(type="hidden" value="" name="submitscore")
                input#submit-wrong(type="hidden" value="" name="submitwrong")
                button#submit-button(type="submit")