doctype html(lang='en')
head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Typing Game | #{title}
    link(href="css/styles.css" type="text/css" rel="stylesheet")
    link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Droid+Serif" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=BioRhyme" rel="stylesheet")

    body
        block content

    script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.bundle.js")
    script(src="js/utils.js")
    script(src="js/main.js")