extends layout

block content

        .container_intro
            h1 Typing Tool Box
        .container_option_1
            h2 Introduction
        .container_option_2
            h2
                a(href='/typing_game')  Typing 101
        .container_option_3
            h2
                a(href='/speed_test') Speed Test

